*,
::before,
::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
}

:root {
    --min-vw: 37.5rem;
    --max-vw: 99.2rem;
    --vw-range: 61.7;

    --page-bg-color: #131517;
    --text-color-gray: #858b93;
    --text-color-white: #f9f9f9;
    --primary-linear-color: linear-gradient(
        90deg,
        #eb9204 -33.14%,
        #83e868 116.38%
    );
    --btn-border-color: #36383e;
    --drawer-overlay-color: rgba(19, 21, 23, 0.5);
    --navbar-color: #1b1d22;
    --nav-link-underline-color: #6aea5c;

    @media (width >= 992px) {
        --btn-border-color: #272633;
    }
}

html {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--page-bg-color);

    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    border: none;
    outline: none;
    font-family: inherit;
    color: inherit;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    cursor: pointer;
}

input,
textarea {
    background: transparent;
}

img {
    display: block;
}

/* Common */
.container {
    width: min(calc(100% - 56px), 1144px);
    margin-inline: auto;
}

.logo {
    width: clamp(5.1rem, 5vw + 3rem, 8.7rem);
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-center {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-flex;
    width: clamp(
        8rem,
        8rem + 3 * ((100vw - var(--min-vw)) / var(--vw-range)),
        11rem
    );
    height: clamp(
        3rem,
        3rem + 1 * ((100vw - var(--min-vw)) / var(--vw-range)),
        4rem
    );
    border-radius: 6px;
    border: 1px solid var(--btn-border-color);

    background: var(--page-bg-color);

    font-size: clamp(1.2rem, 0.65vw + 1rem, 1.6rem);
    color: var(--text-color-white);

    @media (width >= 992px) {
        border-radius: 8px;
    }
}

/* Header */
.header {
    position: sticky;
    top: -15px;
    padding: 31px 0 16px;

    @media (width >= 992px) {
        top: -24px;
        padding-top: 40px;
    }
}

.header__logo {
    @media (width >= 992px) {
        order: 1;
    }
}

.header__actions {
    gap: 44px;

    @media (width >= 992px) {
        order: 3;
    }
}

.btn--signin {
    background: var(--primary-linear-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: transform 0.15s ease;

    &:active {
        transform: scale(0.96);
    }
}

@media (hover: hover) {
    .btn--signin:hover {
        border: none;

        background-clip: initial;
        -webkit-text-fill-color: var(--text-color-white);
    }
}

.header__open-menu {
    @media (width >= 992px) {
        display: none;
    }
}

.header__menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 2;

    background: var(--drawer-overlay-color);

    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.3s ease-out,
        visibility 0.3s ease-out;
}

.header__input-checkbox:checked ~ .header__menu-overlay {
    opacity: 1;
    visibility: visible;
}

.nav {
    position: fixed;
    inset: 0 0 auto auto;
    z-index: 999;

    width: min(60vw, 320px);
    height: 100dvh;
    padding: 31px 28px 0;

    background: var(--navbar-color);

    transform: translateX(100%);
    transition: transform 0.3s ease-out;

    @media (width >= 992px) {
        position: initial;

        order: 2;
        width: auto;
        height: auto;
        padding: 0;

        background: none;

        transform: translateX(0);
        transition: none;
    }
}

.header__input-checkbox:checked ~ .nav {
    transform: translateX(0);
}

.nav__header {
    margin-bottom: 20px;

    @media (width >= 992px) {
        display: none;
    }
}

.nav__close-menu svg {
    width: 34px;
    height: 34px;

    color: var(--text-color-white);
}

.nav__list {
    display: flex;
    flex-direction: column;

    @media (width >= 992px) {
        flex-direction: row;
        align-items: center;
    }
}

.nav__link {
    display: inline-block;
    padding: 18px 0;

    font-size: clamp(1.2rem, 0.65vw + 1rem, 1.6rem);
    color: var(--text-color-gray);

    transition: transform 0.15s ease;

    &:active {
        transform: scale(0.96);
    }

    @media (width >= 992px) {
        position: relative;
        padding: 0 18px;
    }
}

@media (hover: hover) {
    .nav__link:hover {
        color: var(--text-color-white);
        cursor: pointer;
    }
}

.nav__link::after {
    content: '';

    position: absolute;
    inset: auto auto -3px 19px;

    display: block;
    width: 30%;
    height: 2px;

    background: var(--nav-link-underline-color);

    transform: scale(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

@media (hover: hover) {
    .nav__link:hover::after {
        transform: scale(1);
    }
}
