*,
::before,
::after {
    box-sizing: border-box;
}

a,
img,
button,
textarea,
select,
input {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    -webkit-tap-highlight-color: transparent;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
}
